<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset password request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container my-5">
    <h2 class="mb-5"><th th:text="${SUBJECT}">Name</th></h2>
    <div class="row">
        Dear <th:block th:text="${USER_NAME}">customer</th:block>
    </div>
    <div class="row">
        You have requested password reset. To do it please follow the <a th:href="${REDIRECT_URL}"> link</a>
    </div>
</div>

</body>
</html>