@function pxToRem ($pixels, $context: $font-size) {
  @return ($pixels / $context) * 1rem;
}

@function remToPx ($rems, $context: $font-size) {
  @return ($rems / 1rem) * $context;
}

@mixin card-shadown {
  box-shadow: 1px 1px 3px 1px var(--almostWhite);
}

// not being used - candidate to deprecated
@mixin btn-spinner {
  background-image: url(/images/loading.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
