/* ---------------------- arrow button styles ---------------------- */


/*Styling Selectbox*/
.buttons-div > .dropdown {
    background-color: #fff;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    text-align: left;
    display: unset !important;
  }
  
  .dropdown > .select {
      cursor: pointer;
      display: flex;
      height: min-content;
      margin-top: 7px;
  }

  .dropdown-btn-container-div {
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    padding: 1px;
  }

  .dropdown-btn-container-div > p {
    margin: 0;
  }
  
  .dropdown > .select > img{
      width: 15px;
  }
  
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  
  .dropdown:active {
      background-color: #f8f8f8
  }
  
  .dropdown.active:hover,
  .dropdown.active {
      border-radius: 5px 5px 0 0;
      background-color: #f8f8f8
  }
  
  .dropdown.active .select > img {
      transform: rotate(-180deg);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
  }
  
  .buttons-div > button {
      height: 2.5em !important;
  }

  .arrow-button {
    background-position: center !important;
    background-size: 17px !important;
    background-repeat: no-repeat !important;
    width: 25px !important;
    border: none;
  }

  .background-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }