/* ----------------------Classes for everything ---------------------*/

.flexible-div {
    display: flex;
}

.pipe-line-active {
    border: 2px solid #1C2B40 !important;
}

.bold-text {
    font-weight: 600;
}

.round-border-button {
    border-radius: 0.3vw;
}

.shadowed-element{
    box-shadow: 0px 3px 6px #B2B2B2;
}

/* ---------------------------Instruction------------------------- */

#instruction-pipe-line {
    margin: 15px auto 0 auto;
    display: flex;
    background-color: #2db391;
    border-radius: 0.3vw;
    max-width: 1024px;
}

#instruction-pipe-line > #instruction {
    margin: 0.5% 0% 0.5% 0%;
    background-color: white;
    width: 83%;
    border-radius: inherit;
    padding: 0.1% 1% 0.1% 2%;
}

#instruction-pipe-line > #instruction > #title {
    color: #2db391;
    font-size: 1.2em;
}

#instruction-pipe-line > #icon {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0% 0% 0% 1%;
}

#xButton > button {
    background-color: #2db391;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 4px;
}

.invisible {
    display: none !important;
}

/* ----------------------------------------------------------------*/

.pipe-line-execution-container{
    margin: 15px auto 0 auto;
    justify-content: space-between;
    max-width: 1024px;
}

.pipe-line-execution{
    width: 65%;
    min-height: 700px;
    border-radius: 0.3vw;
}

.pipe-line-execution > .header{
    background-color: #1C2B40;
    padding: 0.5% 0% 0.5% 1%;
    border: 1px solid #1C2B40;
    border-radius: 0.3vw 0.3vw 0 0;
    align-items: center;
}

.header > .header-right-items, .header-left-items{
    width: 50%;
    align-content: center;
}

.header-right-items {
    flex-direction: row-reverse;
}

.header-right-items .right-item{
    margin-right: 2%;
}

.pipe-line-execution > .header {
    color: white;
    font-weight: 600;
}

.header .header-button {
    background-color: #ffffff;
    padding: 0% 4% 0% 4%;
    align-items: center;
    color: #1D2B40;
    font-weight: 400;
    width: max-content;
    height: 2em;
}

#renaming-pipeline{
    margin-left: 8px;
    border-radius: 0.3vw;
    margin-top: 3%;
    background-color: #ffffff;
    padding: 0% 4% 0% 4%;
    align-items: center;
    font-weight: 400;
    color: #B2B2B2;
    height: 2em;
    width: 15em;
    align-content: center;
}

.pipe-line-execution.tasks-list{
    width: 34% !important;
    margin-left: 8px;
    overflow: hidden;
}

.pipe-line-execution.tasks-list > .content > .filter-div{
    height: max-content;
    align-content: center;
}

.pipe-line-execution > .upload-file{
    border-bottom: 1px solid #e5e5e5;
    border-left: none !important;
    border-right: none !important;
}


.instruction {
    color: #B2B2B2;
    text-align: center;
}

.upload-file > #data{
    padding-left: 1%;
    font-weight: 600;
}

.data-button-container div {
    border: 2px solid #B2B2B2;
    color: #B2B2B2;
    width: max-content;
    padding: 0.5% 4% 0.5% 4%;
    border-radius: 0.3vw;
}

.data-button-container{
    justify-content: center;
}

/* ----------------------- TASK LIST DIV ------------------------------*/

.pipe-line-execution.tasks-list > .content{
    padding: 1%;
    margin-top: 8px;
}

.filter-div {
    border-radius: 0.3vw;
}

.search {
    color: #B2B2B2;
    border-radius: inherit;
    width: 2em;
    margin-left: 2%;
}

.search.data{
    width: 79%;
    margin-right: 1%;
    border-radius: inherit;
    align-items: center;
    padding-left: 21%;
}

.search.button {
    border-radius: inherit;
    align-content: center;
    justify-content: center;
    margin-left: auto;
}

.search.button img{
    width: 100%;
    height: 100%;
}

.search p {
    text-align: center;
}

.data-operations-select {
    margin-top: 2%;
    padding: 1% 15% 1% 0.5%;
    height: 2.3em;

}

#data-operations-list {
    height: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e5e5e5;
    margin-top: 8px;
}

/* ---------------data-operations-item-header----------- */

.data-operations-item {
    border: 1px solid #e5e5e5;
    background-color: white;
    min-width: 85%;
    padding: 2% 2% 2% 3%;
    margin-top: 2%;
    cursor: grab;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.data-operations-item:hover{
    border: 1px solid #32AFC3;
}

#drop-zone{
    display: flex;
    min-height: 100px;
    align-items: center;

}

/* ---------------------- selected-operation-container-div ---------------------- */

.selected-operation-container-div {
    padding: 0 2% 2% 2%;
    border: 1.5px solid #e5e5e5;
    display: flex;
}

.selected-operation-container-div > .op-div {
    display: flex;
    align-items: center;
    margin-top: 2%;
    padding: 0 2% 2% 2%;
    width: 7%;
}

/* ---------------------- Data operations styles --------------------- */

.processor-title {
    width: 90%;
}

.data-oper-options {
    align-items: center;
    width: max-content;
    height: min-content;
}

.data-oper-options > div > img {
    width: 1.4em;
}

.data-oper-options > div {
    border-radius: inherit !important;
}

.data-oper-options.flexible-div > div > p{
    padding: 1%;
    margin: 0;
}

.copy-btn-item {
    background: url('../../../images/file-01.png');
    background-position: center;
    background-size: cover;
    min-width: 2em;
}

/* ------------------------ data-operation-form -----------------------*/

.advanced-opt-drop-down {
    display: flex;
}

.advanced-opt-drop-down > .drop-down {
    display: flex;
    align-items: center;
    width: 50%;
}

.advanced-opt-drop-down > .drop-down > button {
    margin: 0 0 5px 5px;
    border: none !important;
}

.advanced-opts-div > div {
    margin: 1% 0 0 0%;
}

.advanced-opts-div > div > p {
    margin: 1% 2% 0 0;
}
