@import '../../styles/breakpoints';
$min-width-cards-div: 910px;

/* ---------------- main-content-div ---------------- */

.m-project-classification {
  display: flex;
  margin: 1.5rem 0 0 0;

  #cards-section {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    min-width: $min-width-cards-div;
  }

  #side-filters {
    flex: 1;

    #input-div {
      border-bottom: 1px solid var(--secondary);
      display: flex;
      button {
        background-color: transparent;
        color: var(--info);
        border: none;
        padding: 0px;
        margin-left: 0;
        margin: 0 0 1rem 0;
        cursor: pointer;
      }
      p {
        margin: 0 7rem 1rem 0;
        color: var(--secondary);
      }
    }

    .name-filter-section {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* ---------------- top buttons section ---------------- */

#buttons-div {
  display: flex;
  margin-top: 1rem;

  #filter-div {
    // min-width: $min-width-cards-div;
    width: max-content;
    button {
      margin-right: 1rem;
    }
  }
}

/* ---------------- data types deploy btn ---------------- */


@media (max-width: $bp-lg) {
  #cards-section, #filter-div {
    height: unset !important;
    width: unset !important;
    min-width: unset !important;
    flex: unset;
  }
}

@media (max-width: $bp-md) {
  #filter-div {
    display: flex;
    // flex-direction: column;
    button {
      padding: 0.500rem 1.25rem;
      width: max-content;
      margin-top: 0.5rem;
    }
  }

  #new-element-container {
    a {
      padding: 0.500rem 1.25rem;
    }
  }
}
