.generic-modal {
    border-radius: 0.3vw;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    overflow: scroll;
}

.generic-modal > .modal-content {
    width: 72%;
    height: 60%;
    min-width: 900px;
    min-height: 450px;
    background-color: #ffffff;
    position: relative;
    top: 20%;
    left: 15%;
    border-radius: 0.5vw;
}

.generic-modal > .modal-content > .title {
    display: flex;
    font-weight: 600;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.generic-modal > .modal-content > .title > div:not(#x-button-div) {
    width: 50%;
}

.generic-modal > .modal-content > .title > div:not(#x-button-div) > p {
    margin-left: 2%;
}

#x-button-div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

#x-button-div {
    margin-right: 1%;
    align-items: center;
}

.generic-modal > .modal-content > .title:hover {
    filter: unset;
}
