/* Main container styles which give same sizes to all views in project*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

a {
  color: #1c2b40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-content {
   max-width: 1024px;
   align-items: center;
   margin: 0 auto;
   padding: 0 1rem;
 }

.light-green-background, .light-green-button {
   background-color: #2db391;
   border-radius: 0.3vw;
}

.light-green-button {
   color: white;
   border: 1px solid #2db391;
}

.blue-border-dark-blue-letter {
   border: 1px solid #32AFC3;
   background-color: white;
   color: #1c2b40;
}

.white-button {
   color: #1c2b40;
   border: 1px solid #1c2b40;
   border-radius: 0.3vw;
   background-color: #fff;
   font-weight: 400;
   display: flex;
   padding-right: 8px;
   padding-left: 8px;
 }

.white-button:hover{
   background-color: #e5e5e5;
}

.round-border-black-color {
   border-radius: 0.3vw;
   border: 1px solid #1C2B40;
   color: #1C2B40;
   width: max-content;
}

/* ------- Hr for all the proj ------- */

hr {
   border: none;
   height: 1px;
   background: #dddddd;
 }

/* ------------- -------------------------- ------------- */

#buttons-container {
   display: flex;
}

#line {
   border: 0.01px solid #ececec;
}

.rounded-pipeline-btn {
   padding: 0.5em 2em 1.7em 2em;
   border-radius: 0.3vw;
}

.active-border-light-blue {
   border: 1px solid #32AFC3;
}

.non-active-black-border {
   border: 1px solid #1C2B40;
   border-radius: 0.3vw;
}

img.dropdown-white {
   width: 1.5em;
   margin-right: 6px;
}

/* --------------  pipeline cards -------------- */

.pipeline-card {
   border: 2px solid #e5e5e5;
   border-radius: 0.3vw;
   margin-top: 1%;
   color: #1c2b40;
}

.pipeline-card > .header{
   display: flex;
   padding: 0.5em;
   background-color:#e5e5e5;
}

.pipeline-card > .header > .title-div {
   width: 50%;
}

.pipeline-card > .header > .title-div > p {
   margin: unset;
}

.pipeline-card > .header > .select-div {
   display: flex;
   align-content: flex-end;
   width: 50%;
   flex-direction: row-reverse;
}

.pipeline-card > .header > .select-div > select {
   border: none;
   background-color: transparent;
}

/* ----------------------- branches drop down ----------------------- */

.select-branch {
   box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
   position: absolute;
   background-color: white;
   z-index: 10;
   display: block !important;
   width: 300px;
   height: auto;
   background: #fff;
   top: 100%;
   left: 0px;
   border-radius: 4px;
 }
 
 .search-branch {
   position: relative;
   display: block !important;
   padding: 0.5em;
 }
 
 .search-branch > input {
   width: -webkit-fill-available;
 }
 
 .branches {
   display: block;
   margin: "1em";
 }
 
 .branches ul {
   list-style: none;
   margin: 0;
   padding: 1em 0;
   width: 100%;
 }
 
 .branches ul li {
   padding-left: 10px;
 }
 
 .branch-header {
   padding-left: 2px !important;
 }
 
 .branches ul li p {
   margin-left: 4px;
   padding: 0.5em 0;
   width: 100%;
   transition: background-color 0.2s ease;
 }
 
 .branches ul p:hover {
   cursor: pointer;
   background: #c5c5c5;
 }
 
 .branches .branch-header {
   color: #707070;
   font-size: 13px;
   line-height: 16px;
 }

 /* ----------------------- ----------------------- ----------------------- */
 