.project-card {
  &-container {
    width: 250px;
    border: 1px solid transparent;
    .card-title {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      height: 3.5rem;
      overflow: hidden;
    }

    &-autor {
      align-items: center;
      p {
        margin: 0; 
        color: var(--secondary);
      }
    }
    
    .card-content {
      margin-top: 0.8rem;
    }

    .card-content p {
      height: 4.5rem;
      overflow: hidden;
    }
    
    span {
      font-size: 0.9rem;
      margin-right: 0.6rem;
    }
  }

  &-container:hover {
    border: 1px solid var(--info);
    cursor: pointer;
  }

  &-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}